@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  color: #5D5D7D;
}

.hero-container {
  width: 100%;
  height: 100%;
}

.left-container {
  display: inline-block;
  width: 65%;
  padding-left: 136px;
  margin-top: 28%;
}

.right-container {
  display: inline-block;
  height: 56em;
  width: 35%;
  position: absolute;
  background: rgba(92, 92, 125, 0.16);
  z-index: 1;
}

img {
  position: relative;
  top: 20%;
  right: 140px;
}

h1 {
  width: 368px;
  font-size: 70px;
  line-height: 80px;
}

p {
  width: 540px;
  font-size: 28px;
  line-height: 48px;
  opacity: 0.6;
  margin: 15px 0;
}

button {
  width: 269px;
  height: 62px;
  background: #9499EA;
  box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.10);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
}

button:hover {
  background: #5D5D7D;
}

button:active {
  background: #5D5D7D;
  opacity: 0.8;
}

a {
  color: #5D5D7D;
  font-size: 28px;
  text-decoration: none;
}

a:nth-child(2) {
  opacity: 0.4;
}

a:hover {
  color: #9499EA;
}

a:active {
  opacity: 0.5;
}

nav :not(#no-margin) {
  margin-right: 41px;
}

nav {
  margin-top: 24px;
  text-align: center;
}

footer {
  background: #9499EA;
  padding: 26px;
  margin-top: 60px;
  position: relative;
  bottom: 0;
  z-index: 2;
}

h2 {
  color: #ffffff;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
}

/* Responsivo para desktops pequenos (até 1366px) */
@media screen and (max-width: 1366px) {
  .left-container {
    width: 60%;
    padding-left: 120px;
    margin-top: 30%;
  }

  .right-container {
    width: 40%;
  }

  p {
    padding-right: 5rem;
    font-size: 24px;
  }

  img {
    top: 17%;
  }
}

/* Responsivo para tablets maiores (até 1080px) */
@media screen and (max-width: 1080px) {
  .left-container {
    width: 60vw;
    padding-left: 100px;
  }

  .right-container {
    width: 45vw;
    top: 0;
    right: 0;
  }

  h1, p {
    width: 24rem;
  }

  h1 {
    font-size: 60px;
  }

  img {
    top: 19%;
  }
}

/* Responsivo para tablets pequenos (até 980px) */
@media screen and (max-width:980px) {
  .left-container {
    display: block;
    width: 100%;
    height: auto;
    padding: 100px 0px;
    margin: 0;
    text-align: center;
  }

  .right-container {
    display: block;
    position: static;
    width: 100%;
    height: auto;
  }

  h1 {
    width: 400px;
    margin: 0 auto;
    font-size: 70px;
    line-height: 80px;
    text-align: center;
  }

  p {
    width: 430px;
    margin: 0 auto;
    padding: 15px 0;
    font-size: 28px;
    line-height: 48px;   
  }

  button {
    font-size: 28px;
  }
  
  nav {
    display: none;
  }

  img {
    display: block;
    margin: 0 auto;
    padding: 100px 0;
    position: static;
    max-width: 65%;
  }

    footer {
    margin-top: 0;
    position: static;
  }
}

/* Responsivo para celulares maiores (até 900px) */
@media screen and (max-width: 900px) {
  .left-container {
    padding: 75px 50px;
  }

  h1 {
    width: 268px;
    font-size: 36px;
    line-height: 52px;
  }

  p {
    width: 296px;
    font-size: 14px;
    line-height: 24px;    
  }

  button {
    max-width: 80%;
  }

  img {
    padding: 75px 0;
  }
}

/* Responsivo para celulares pequenos (abaixo de 375px) */
@media screen and (max-width: 375px) {

  .left-container {
    padding: 50px 0;
  }

  h1 {
    padding: 0 50px 0 50px;
    font-size: 30px;
  }

  p {
    padding: 15px 40px;  
  }

  button {
    max-width: 70%;
    font-size: 1.4rem;
  }

  img {
    padding: 50px 0;
  }

  footer {
    margin-top: 0;
    position: static;
  }
}
